apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-k8s-web-deployment
  labels:
    app: django-k8s-web-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: django-k8s-web-deployment
  template:
    metadata:
      labels:
        app: django-k8s-web-deployment
    spec:
      progressDeadlineSeconds: 600
      containers:
      - name: django-k8s-web
        image: registry.digitalocean.com/djngo-k8s/django-k8s-web:latest
        imagePullPolicy: Always
        envFrom:
          - secretRef:
              name: django-k8s-web-prod-env
        env:
          - name: PORT
            value: "8002"
        ports:
        - containerPort: 8002
      imagePullSecrets:
        - name: djngo-k8s

---

apiVersion: v1
kind: Service
metadata:
  name: django-k8s-web-service
spec:
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 80 # for actual domain http://129.91.12.312:80
      targetPort: 8002 # rel to depl, we r letting cont port at 80
  selector:
    app: django-k8s-web-deployment
